h1{
    background-color: black;
 
   
}
.head1{
    color: white;
    
}
#sp1{
    color: aqua;
    margin: -7px;
}
h2{
    background-color: blueviolet;
    color: white;
    text-align: center;
    font-style: italic;
}
h3{
    background-color:cadetblue;
    color: blue;
    text-align: right;
    
}

