.blue{
    background-color: #17a2b8;
    border: 1px solid #17a2b8; ;
    width:600px;
    height:70px;
    padding: 20px;
}
.white{
    background-color: azure;
    height:250px;
    width: 600px;
    border: 1px solid rgb(173, 173, 173);
    padding: 20px;
}
.all{
    margin-top: 10%;
    margin-left: 15%;
}

.small{
    width: 80px;
    height: 80px;
}
a{
    margin-bottom: 10px;
}
img{
    width: 20px;
    height: 20px;
}
.circle{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position:absolute;
    left: 17%;
    top: 32%;
}