.blue{
    background-color: #17a2b8;
    border: 1px solid #17a2b8; ;
    width:600px;
    height:70px;
    padding: 20px;
}
.white{
    background-color: azure;
    height:250px;
    width: 600px;
    border: 1px solid rgb(173, 173, 173);
    padding: 20px;
}
.white img{
    width:20px;
    height: 20px;
}
.first{
    margin: 30px;
   
    
}
.left{
    padding: 30px;
}
.right{
    padding: 30px;
}
.second{
    margin: 30px;
}
.third{
    margin: 30px;
    margin-top: 60px;
}
.fourth{
    margin: 30px;
}
.all-con{
    
    margin-left: 10%;
    display: flex;
}
.education{
    background-color: #333333;
    border: 1px solid #333333 ;
    color: white;
    width:600px;
    height:70px;
    padding: 20px;
  
   
}

.p2{
color: silver;
}
.fl{
    display: flex;
    
}
.fl img{
    margin: 10px;
   
}
span{
    margin: 10px;
    margin-right: 40px;
}
.line{
    margin-left: 10px;
    margin-bottom: 10px;
}
.sheet{
    background-color: azure;
    border: 1px solid rgb(173, 173, 173);
    width:600px;
    height:100px;
  
    padding: 20px;
}
.small{
    width: 80px;
    height: 80px;
}
a{
    margin-bottom: 10px;
}
.sheet1{
    background-color: azure;
    border: 1px solid rgb(173, 173, 173) ;
    width:300px;
    height: 100px;
    padding: 20px;
}
.last{
    background-color: azure;
    border: 1px solid rgb(173, 173, 173) ;
    width:300px;
    height: 20px;
    padding: 20px;
}
.sheet2{
    background-color: azure;
    border: 1px solid rgb(173, 173, 173) ;
    width:300px;
    height: 200px;
    padding: 20px;
}
img{
    width: 30px;
    height: 30px;
    border-radius: 45%;
}
.conction{
    background-color: #333333;
    border: 1px solid #333333;
   
    width:300px;
    height:50px;
    padding: 20px;
}
.pic{
    width: 45px;
    height: 45px;
    background-color: rgb(173, 173, 173);
    border-radius: 45px;
}
.circle{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: absolute;
    left: 250px;
    top: 200px;
 
  
}
.nav{
    height: 65px;
     background-color: black;
     
    display: flex;
    justify-content: space-evenly;
    align-items: center;
     
     
 }
 .nav-title{/* commant*/
     color: white;
     margin: 15px;
     font-style: normal;
     
 }
 .nav-links{
    margin-bottom: 20px;
    list-style-type: none;
    width: 50%;
    display: flex;
    justify-items:start ;
    list-style-type: none;
    
    
   
   
}
 .btn{
     border: solid black;
     background-color: #17a2b8;
     color: white;
     
     margin-left: 100px;
     box-shadow: 2px 2px black;
 }
 .active{
     color:white ;
     
 }
 
 li>a{
     color: #9f9f9f;
     text-decoration:none;
     margin: 15px;
     
 
 }
 