img {
    height: 200px;
}
.con{
    width: 1000px;
    height: 800px;
    background-color: #ebeedb;
    margin: auto;
    padding: 30px;
}
.style{
    color: #434e55;
    text-align: center;
}
.row1{
  background-color: #56c2ef;
  display: flex;
  justify-content: space-around;
  margin: 20px;
}
.row2{
    background-color: #d7a0b1;
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}
.row3{
    background-color: #fcfcff;
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
p{
    text-align: center;
}